.cat_information {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 22px;
}

.cat_information h3 {
  color: var(--color-brown);
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 59px;
  font-weight: 700;
  
  /* padding to compensate ::before styling */
  padding-top: 19px;
}

.cat_information h3::before {
    display: block;
    content: "";
    border-top: .3rem solid var(--color-brown);
    width: 4rem;
    transform: translateY(-19px);
    border-radius: var(--border-radius-xl);
}

.cat_information_text {
  margin-bottom: 25px;
}

.cat_information a {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
}

.cat_gallery {
  width: 100%;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: 1fr/2 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 18px;
}

.gallery_img_1,
.gallery_img_2,
.gallery_img_3 {
  width: 100%;
}

.gallery_img_1 {
  grid-column: 1 / 3;
  grid-row: 1;
}

.gallery_img_2 {
  grid-column: 3;
  grid-row: 1 / 3;
}

.gallery_img_3 {
  grid-column: 2;
  grid-row: 2;
}

@media screen and (min-width: 1024px) {
  .cat_about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cat_information h2 {
    font-size: 40px;
    line-height: 49px;
  }
  
  .cat_information {
    padding-left: 100px;
    padding-right: 40px;
  }

  .cat_information_text {
    margin-bottom: 45px;
    padding-right: 60px;
  }

  .cat_gallery {
    gap: 30px;
    margin-bottom: 100px;
    padding-right: 90px;
  }
}