@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  
  --color-gray: #E3E1DC;
  --color-gold: #DEC68B;
  --color-brown: #291507;

  --border-radius-sm: 12px;
  --border-radius-md: 24px;
  --border-radius-lg: 42px;
  --border-radius-xl: 90px;
}

html,
body {
  font-family: "Montserrat"
}

a {
  color: var(--color-gold);
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
